@using SGM.WebApp.MVC.Extensions
@model SGM.WebApp.MVC.Models.SolicitacaoViewModel
@{
    var depto = (IEnumerable<SGM.Core.DomainObjects.Departamento>)ViewData["Departamentos"];
}
<div class="d-flex w-100">

    <div class="border-0" style="width: 20%">
        <div class="list-group list-group-flush">
            <a href="~/Solicitacao/NovaSolicitacao" class="list-group-item list-group-item-action bg-info text-white border">Novo</a>
            <a href="~/Solicitacao/Solicitacoes" class="list-group-item list-group-item-action bg-light border">Solicitações</a>
        </div>
    </div>

    <div id="page-content-wrapper" style="width: 80%">

        <vc:Summary></vc:Summary>

        <div class="container-fluid">
            <h1 class="mt-4">Nova Solicitação de Serviço</h1>
            <p><b>Explicação do serviço :</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <form method="post" asp-controller="Solicitacao" asp-action="NovaSolicitacao">

                @*<div class="form-group">
                        <label asp-for="CodDepartamento"></label>
                        <select class="form-control" asp-for="CodDepartamento">
                            <option value="">[Selecione um departamento]</option>
                            @foreach (var item in depto)
                            {
                                <option value="@item.CodDepartamento">@item.Descr</option>
                            }
                        </select>
                        <span asp-validation-for="CodDepartamento" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="Descricao">Descrição</label>
                    <textarea class="form-control" asp-for="Descricao" rows="4" cols="80"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>

        </div>

    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
